<!-- wp:group {"metadata":{"name":"Top Stroke"},"style":{"dimensions":{"minHeight":"0px"},"spacing":{"margin":{"top":"0","bottom":"0"}}},"backgroundColor":"theme-4","layout":{"type":"flex","flexWrap":"nowrap","justifyContent":"space-between","verticalAlignment":"stretch"}} -->
<div class="wp-block-group has-theme-4-background-color has-background" style="min-height:0px;margin-top:0;margin-bottom:0"><!-- wp:group {"metadata":{"name":"Left Corner"},"style":{"dimensions":{"minHeight":"20px"},"spacing":{"margin":{"top":"0","bottom":"0"}},"border":{"right":{"width":"5px"}},"layout":{"selfStretch":"fixed","flexSize":"25px"}},"backgroundColor":"theme-1","layout":{"type":"flex","flexWrap":"nowrap","justifyContent":"left"}} -->
<div class="wp-block-group has-theme-1-background-color has-background" style="border-right-width:5px;min-height:20px;margin-top:0;margin-bottom:0"><!-- wp:paragraph {"style":{"typography":{"fontSize":"0rem"}}} -->
<p style="font-size:0rem"></p>
<!-- /wp:paragraph --></div>
<!-- /wp:group -->

<!-- wp:group {"metadata":{"name":"Right Corner"},"style":{"dimensions":{"minHeight":"20px"},"spacing":{"margin":{"top":"0","bottom":"0"}},"border":{"left":{"width":"5px"}},"layout":{"selfStretch":"fixed","flexSize":"25px"}},"backgroundColor":"theme-1","layout":{"type":"flex","flexWrap":"nowrap","justifyContent":"left"}} -->
<div class="wp-block-group has-theme-1-background-color has-background" style="border-left-width:5px;min-height:20px;margin-top:0;margin-bottom:0"><!-- wp:paragraph {"style":{"typography":{"fontSize":"0rem"}}} -->
<p style="font-size:0rem"></p>
<!-- /wp:paragraph --></div>
<!-- /wp:group --></div>
<!-- /wp:group -->

<!-- wp:columns {"isStackedOnMobile":false,"metadata":{"name":"Columns"},"style":{"spacing":{"blockGap":{"top":"5px","left":"5px"},"margin":{"top":"0","bottom":"0"}},"border":{"top":{"width":"5px"},"bottom":{"width":"5px"}}}} -->
<div class="wp-block-columns is-not-stacked-on-mobile" style="border-top-width:5px;border-bottom-width:5px;margin-top:0;margin-bottom:0"><!-- wp:column {"width":"20px","backgroundColor":"theme-3"} -->
<div class="wp-block-column has-theme-3-background-color has-background" style="flex-basis:20px"></div>
<!-- /wp:column -->

<!-- wp:column {"layout":{"type":"default"}} -->
<div class="wp-block-column"><!-- wp:template-part {"slug":"header"} /-->

<!-- wp:group {"tagName":"main","metadata":{"name":"Content Wrapper"},"style":{"spacing":{"blockGap":"0","margin":{"top":"5px","bottom":"0"}}},"layout":{"type":"constrained"}} -->
<main class="wp-block-group" style="margin-top:5px;margin-bottom:0"><!-- wp:group {"metadata":{"name":"Page Title Wrapper"},"align":"wide","style":{"spacing":{"padding":{"top":"var:preset|spacing|40","bottom":"var:preset|spacing|40","left":"var:preset|spacing|40","right":"var:preset|spacing|40"},"blockGap":"var:preset|spacing|30"},"border":{"bottom":{"color":"var:preset|color|theme-2","width":"5px"},"top":[],"right":[],"left":[]},"elements":{"link":{"color":{"text":"var:preset|color|theme-1"}}}},"backgroundColor":"theme-4","textColor":"theme-1","layout":{"type":"flex","flexWrap":"nowrap","justifyContent":"space-between"}} -->
<div class="wp-block-group alignwide has-theme-1-color has-theme-4-background-color has-text-color has-background has-link-color" style="border-bottom-color:var(--wp--preset--color--theme-2);border-bottom-width:5px;padding-top:var(--wp--preset--spacing--40);padding-right:var(--wp--preset--spacing--40);padding-bottom:var(--wp--preset--spacing--40);padding-left:var(--wp--preset--spacing--40)"><!-- wp:post-title {"isLink":true,"align":"wide","fontSize":"large"} /--></div>
<!-- /wp:group -->

<!-- wp:group {"metadata":{"name":"Content"},"align":"wide","style":{"spacing":{"padding":{"right":"var:preset|spacing|40","left":"var:preset|spacing|40","top":"var:preset|spacing|60","bottom":"var:preset|spacing|70"}}},"layout":{"type":"constrained","justifyContent":"left"}} -->
<div class="wp-block-group alignwide" style="padding-top:var(--wp--preset--spacing--60);padding-right:var(--wp--preset--spacing--40);padding-bottom:var(--wp--preset--spacing--70);padding-left:var(--wp--preset--spacing--40)"><!-- wp:columns {"align":"wide","style":{"spacing":{"blockGap":{"top":"0","left":"0"}}}} -->
<div class="wp-block-columns alignwide"><!-- wp:column -->
<div class="wp-block-column"></div>
<!-- /wp:column -->

<!-- wp:column -->
<div class="wp-block-column"><!-- wp:post-content {"lock":{"move":true,"remove":true},"layout":{"type":"default"}} /--></div>
<!-- /wp:column --></div>
<!-- /wp:columns --></div>
<!-- /wp:group --></main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer"} /--></div>
<!-- /wp:column -->

<!-- wp:column {"width":"20px","backgroundColor":"theme-5"} -->
<div class="wp-block-column has-theme-5-background-color has-background" style="flex-basis:20px"></div>
<!-- /wp:column --></div>
<!-- /wp:columns -->

<!-- wp:group {"metadata":{"name":"Bottom Stroke"},"style":{"dimensions":{"minHeight":"20px"},"spacing":{"margin":{"top":"0","bottom":"0"}}},"backgroundColor":"theme-6","layout":{"type":"flex","flexWrap":"nowrap","justifyContent":"space-between","verticalAlignment":"stretch"}} -->
<div class="wp-block-group has-theme-6-background-color has-background" style="min-height:20px;margin-top:0;margin-bottom:0"><!-- wp:group {"metadata":{"name":"Left Corner"},"style":{"dimensions":{"minHeight":"20px"},"spacing":{"margin":{"top":"0","bottom":"0"}},"border":{"right":{"width":"5px"}},"layout":{"selfStretch":"fixed","flexSize":"25px"}},"backgroundColor":"theme-1","layout":{"type":"flex","flexWrap":"nowrap","justifyContent":"left"}} -->
<div class="wp-block-group has-theme-1-background-color has-background" style="border-right-width:5px;min-height:20px;margin-top:0;margin-bottom:0"><!-- wp:paragraph {"style":{"typography":{"fontSize":"0rem"}}} -->
<p style="font-size:0rem"></p>
<!-- /wp:paragraph --></div>
<!-- /wp:group -->

<!-- wp:group {"metadata":{"name":"Right Corner"},"style":{"dimensions":{"minHeight":"20px"},"spacing":{"margin":{"top":"0","bottom":"0"}},"border":{"left":{"width":"5px"}},"layout":{"selfStretch":"fixed","flexSize":"25px"}},"backgroundColor":"theme-1","layout":{"type":"flex","flexWrap":"nowrap","justifyContent":"left"}} -->
<div class="wp-block-group has-theme-1-background-color has-background" style="border-left-width:5px;min-height:20px;margin-top:0;margin-bottom:0"><!-- wp:paragraph {"style":{"typography":{"fontSize":"0rem"}}} -->
<p style="font-size:0rem"></p>
<!-- /wp:paragraph --></div>
<!-- /wp:group --></div>
<!-- /wp:group -->